<launch>
  <arg name="image_topic" default="/kinect2/qhd/image_color_rect"/>
  <arg name="redirected_image_topic" default="redirected_image_gui"/>
  <arg name="depth_topic" default="/kinect2/qhd/image_depth_rect"/>
  <arg name="depth_camera_info" default="/kinect2/qhd/camera_info"/>
  <arg name="z_threshold" default="0.04"/>
  <arg name="load_model" default="false"/>
  <arg name="min_confidence" default="0.50"/>
  <arg name="model_file" default=""/>
  <arg name="output_frame" default="world"/>
  <arg name="publish_world_tf" default="true"/>

  <include file="$(find opt_calibration)/launch/opt_calibration_results.launch" if="$(arg publish_world_tf)"/>

  <include file="$(find tld_tracker)/launch/tld.launch">
    <arg name="image_topic" value="$(arg image_topic)"/>
    <arg name="redirected_image_topic" value="$(arg image_topic)"/>
    <arg name="load_model" value="$(arg load_model)"/>
    <arg name="model_file" value="$(arg model_file)"/>
  </include>

  <include file="$(find bb_to_world)/launch/bb_to_world.launch">
    <arg name="depth_image" value="$(arg depth_topic)"/>
    <arg name="depth_camera_info" value="$(arg depth_camera_info)"/>
    <arg name="output_frame" value="$(arg output_frame)"/>
    <arg name="min_confidence" value="$(arg min_confidence)"/>
    <arg name="z_threshold" value="$(arg z_threshold)"/>
  </include>

</launch>
